$dark: #1f1f1f;
$secondary: #c20927;
$light_grey: #ffc107;

body {
  @import url("https://fonts.googleapis.com/css?family=Marvel&display=swap");
  margin: 0;
  font-family: "Marvel", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  .container {
    background: $dark;
    height: 100vh;
    width: 100%;
    .header {
      // line-height: 2;
      height: 40px;
      align-items: center;
      font-size: 1.2rem;
      display: flex;
      justify-content: center;
      background-color: $secondary;
      color: #fff;
      font-weight: 1000;
      span {
        font-weight: 100;
        margin: 0 10px;
      }
    }
    .body-comics {
      color: white;
      position: relative;
      height: calc(100vh - 60px);
      .wrapper-items {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 50% 50%;
        gap: 20px;
        margin: 20px;
        height: calc(100vh - 140px);
        
        @media (max-width: 900px) {
          grid-template-columns: repeat(3, 1fr);
        }
        @media (max-width: 520px) {
          grid-template-columns: repeat(1, 1fr);
        }
      }
      .paginator {
        position: absolute;
        bottom: 0;
        background: #c20927;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        .itemPag {
          background: transparent;
          cursor: pointer;
          &.arrows {
            font-family: "segoe UI";
            font-weight: 600;
            font-size: 14px;
          }
          &.active {
            background: $dark;
            box-shadow: -1px 4px 10px #1b1b1b;
          }
          padding: 10px 20px;
        }
      }
    }
  }
  .detail-wrapper {
    background-color: $dark;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(2, 50%);

    .image-section {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      .wallpaper {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-filter: blur(10px);
      }
      img {
        z-index: 10;
        transform: perspective(20cm) rotateX(-2deg) rotateY(15deg);
        box-shadow: -4px 4px 10px #1d1d1d8c;
      }
    }
    .info-comic {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      height: 100%;
      h2 {
        position: relative;
        text-align: justify;
        display: flex;
        align-items: center;
        width: 100%;
        min-height: 50vh;
        font-size: 3rem;
        box-sizing: border-box;
        color: white;
        padding: 40px;
        margin: 0;
      }
      .detail {
        position: relative;
        width: 100%;
        height: 50vh;
        background: #edeeef;
        // padding: 20px;
        box-sizing: border-box;
        font-size: 1.2em;
        overflow-y: auto;
        &::-webkit-scrollbar {
          width: 10px;
        }
        &::-webkit-scrollbar-thumb {
          background: $secondary;

          box-shadow: inset 1px -1px 10px #1b1b1b;
        }
        div {
          margin: 20px;
        }
        ul {
          list-style: decimal;
          background: #e2e3e4;
          li {
            color: $dark;
            line-height: 1.5;
            background: linear-gradient(0deg, #dcdcdc, #e2e3e4);
          }
        }
      }
    }
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
